<<<<<<< HEAD
<h1><%= @plan.name %></h1>
<p>Category: <%= @plan.category %></p>
<!-- Display other details of the diet plan -->
=======
<h1>DietPlans#show</h1>
<p>Find me in app/views/diet_plans/show.html.erb</p>
>>>>>>> origin/main
