<<<<<<< HEAD

<h1>Doctors</h1>
<ul>
  <% @doctors.each do |doctor| %>
    <li>
      <strong><%= doctor.name %></strong><br>
      <%= doctor.organization %><br>
      <%= doctor.contact_info %><br>
      <%= doctor.address %>
    </li>
  <% end %>
</ul>
=======
<h1>HealthExperts#index_doctors</h1>
<p>Find me in app/views/health_experts/index_doctors.html.erb</p>
>>>>>>> 11030fc831fa29faea48875aadc936640e718551
