<!-- app/views/welcome.html.erb -->
<h1>Welcome to Calsense!</h1>
<%= link_to "Foodlog", entries_path, class: "button is-primary" %>
<%= link_to "Take Survey", new_survey_path, class: "button is-success" %>
